body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .game-board {
    width: 512px;
    height: 512px;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: large;
  }
  
  .square {
    background: black;
    height: 66px;
    width: 66px;
    position: absolute;
  }

  .square-cell {
    position: relative;
    height: 62px;
    width: 62px;
    background: #068C04;
    top: 2px;
    left: 2px;
  }

  .square-empty {
    position: relative;
  }

  .square-black {
    position: relative;
    height: 62px;
    width: 62px;
    background: black;
    border-radius: 50%;
  }

  .square-white {
    position: relative;
    height: 62px;
    width: 62px;
    background: white;
    border-radius: 50%;
  }

  .square-puttable {
    position: relative;
    height: 62px;
    width: 62px;
    background: yellow;
    opacity: 0.3;
  }
  